.idea/
.DS_Store
runtime/*
!runtime/qrcode/bg.jpg
!runtime/fonts
*/github.com/*
*/golang.org/*
*/gopkg.in/*
*.DS_Store
*.idea
*/.DS_Store
*/.idea
*/bin
*bin
*/test/*
*/test
*/vendor
logs/*
go-admin*
go-admin.exe